[Unit]
Description=Cumann Muscraí BBS for Meshtastic
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=20
User=ei9imb
WorkingDirectory=/home/ei9imb/cumann-muscrai-bbs
ExecStart=/home/ei9imb/cumann-muscrai-bbs/venv/bin/python3 /home/ei9imb/cumann-muscrai-bbs/server.py

[Install]
WantedBy=multi-user.target