[Unit]
Description=Cumann Muscraí BBS for Meshtastic
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=20
User=ei9imb
WorkingDirectory=/home/ei9imb/TC2-BBS-mesh
ExecStart=/home/ei9imb/TC2-BBS-mesh/.venv/bin/python /home/ei9imb/TC2-BBS-mesh/server.py
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
